{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskMe</title>
      {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  </head>
  <body>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="{% url 'index' %}">AskMe</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex align-items-center" id="navbarSupportedContent">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
{#                <button class="btn btn-outline-success me-2 " type="submit">Ask</button>#}
              </form>
              <a href="{% url 'ask' %}" class="btn btn-outline-primary">New Question</a>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="account">
                <div class="account_image">
                    <img src="{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% else %}{% static 'default_profile_pics/guest_user(2).jpg' %}{% endif %}"
                                 alt="Аватар" class="profile-pic">
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                      <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
                    </ul>
                </div>
        {% else %}
                <div class="account d-flex">
                    <a href="{% url 'login' %}" class="btn btn-outline-success ms-auto">Login</a>
                </div>
        </div>
        {% endif %}
      </nav>
      <main class="container mt-2">
        <div class="row">
            <section class="col vh-100">
               {% block content %}{% endblock %}
            </section>
            <aside class="col-3">
                <section class="mb-3">
                    <h3>Popular tags</h3>
                    <div>
                        {% for tag in tags %}
                            <a href="{% url 'tag' tag.name %}" class="badge rounded-pill text-bg-primary text-decoration-none">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </section>
                <section>
                    <h3>Best members</h3>
                    <div>
                        {% for profile in profiles %}
                            <a href="#" class="badge rounded-pill text-bg-primary text-decoration-none">{{ profile.user.username }}</a>
                        {% endfor %}
                    </div>
                </section>
            </aside>
        </div>
    </main>
    <script src="{% static 'js/like_async.js' %}"></script>
  </body>
</html>