{% extends 'layouts/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center gap-2 mb-4">
                    <h1>Hot Questions</h1>
                    <a href="{% url 'index' %}">New Questions</a>
                </div>
                <article class="d-flex gap-3 flex-column">
                    {% for item in questions %}
                       {% include 'layouts/question_item.html' with question=item.obj item=item %}
                    {% endfor %}
                    {% include 'layouts/pagination.html' %}
                </article>
            </section>
{% endblock %}