{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock %}
{% block content %}
                {% include 'layouts/question_item.html' %}
                <hr class="custom-hr">
                <articles class="d-flex gap-3 flex-column">
                    {% for answer in answers %}
                        {% include 'layouts/answer_item.html' %}
                    {% endfor %}
                    {% include 'layouts/pagination.html' %}
                </articles>
                <hr class="custom-hr">
                <p class="answer-text">Answer here!</p>
                <form action="" method="post">
                <div>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button class="custom_button" type="submit">Answer</button>
                    {% endbuttons %}
                </div>
                </form>
{% endblock %}