{% extends 'layouts/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center gap-2 mb-4">
        <h1>Settings: Mikhail</h1>
    </div>
    <div class="mb-3 row">
        <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLogin" readonly>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail" readonly>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputNickName" class="col-sm-2 col-form-label">NickName</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNickName">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="currentAvatar" class="col-sm-2 col-form-label">Current Avatar</label>
        <div class="col-sm-10">
            <div class="avatar-container">
                 <img id="currentAvatar" src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'default_profile_pics/guest_user.jpg' %}{% endif %}"
                             alt="Current Avatar">
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="avatarUpload" class="col-sm-2 col-form-label">New Avatar</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" id="avatarUpload" accept="image/*">
        </div>
    </div>
    <div class="button_container">
        <button class="custom_button" type="submit">Save</button>
    </div>
{% endblock %}