{% extends 'layouts/base.html' %}
{% load static bootstrap5 %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form exclude="avatar" %}
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Current Avatar</label>
    <div class="col-sm-10">
      {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url }}"
             alt="Avatar"
             class="img-thumbnail"
             style="max-width:150px;">
      {% else %}
        <span class="form-control-plaintext">No avatar uploaded.</span>
      {% endif %}
    </div>
  </div>
  <div class="mb-3 row">
    <div class="offset-sm-2 col-sm-10">
      {% bootstrap_field form.avatar label=False %}
    </div>
  </div>
  {% buttons %}
    <button class="custom_button" type="submit">Save</button>
  {% endbuttons %}
</form>
{% endblock %}
