{% extends 'layouts/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center gap-2 mb-4">
        <h1>Register</h1>
    </div>
    <div class="text-danger mb-3">Этот адрес электронной почты уже используется!</div>
    <form>
        <div class="row mb-3">
            <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputLogin" name="login" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" name="email" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputNickName" class="col-sm-2 col-form-label">NickName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputNickName" name="nickname" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name="password" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputRepeatPassword" class="col-sm-2 col-form-label">Repeat password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputRepeatPassword" name="repeat_password" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="avatarUpload" class="col-sm-2 col-form-label">Upload avatar</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" id="avatarUpload" accept="image/*">
            </div>
        </div>
        <button type="submit" class="btn-primary mb-2">Register!</button>
    </form>
{% endblock %}