{% extends 'layouts/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center gap-2 mb-4">
        <h1>Tag: {{ tag_name }}</h1>
    </div>
    <articles class="d-flex gap-3 flex-column">
        {% for item in questions %}
            {% include 'layouts/question_item.html' with question=item.obj item=item %}
        {% endfor %}
        {% include 'layouts/pagination.html' %}
    </articles>
{% endblock %}